default:
    autoload:
        '': %paths.base%/test/features/bootstrap
    suites:
        core:
            paths:
                - %paths.base%/test/features
            contexts:
                - CoreContext
